<p>students works!</p>

<form #paginationForm="ngForm" (ngSubmit)="onPaginationSubmit()">
    <label for="page">Nr strony</label>
    <input id="page" name="page" type="number" min="0" required [(ngModel)]="page"/>
    <label for="count">Liczba elementów na stronie</label>
    <input id="count" name="count" type="number" min="0" required [(ngModel)]="count"/>
    <input id="submit" type="submit" name="submit" value="Pobierz" 
            [disabled]="!paginationForm.valid" />
</form>

<br />

<div>
    <button (click)="onDataVisChange()">
        {{isTableView ? 'JSON' : 'Tabela'}}
    </button>
</div>

<br />

<ng-container *ngIf="!isTableView">
    <div 
        *ngFor="let s of data" 
        (click)="choosedStudent = s"
        class="selectable">
        {{s | json}}
    </div>
</ng-container>

<br />

<table *ngIf="isTableView" border="1">
    <thead>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Grupa</th>
        <th>Nr albumu</th>
        <th>Wybierz</th>
    </thead>
    <tbody>
        <tr 
            *ngFor="let s of data" 
            [app-student-row]="s"
            (choosed)="onRowChoosed($event)">
        </tr>
    </tbody>
</table>

<br/>
<hr/>

<div *ngIf="choosedStudent">
    Wybrano studenta: {{choosedStudent.name}}

    <app-student-form
        (submit)="onSubmit()"
        (cancel)="choosedStudent = null"
    ></app-student-form>
</div>